.center{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('../../assets/images/countryFlags/dominican-republic-flag-1024x569.jpg');
    background-position:5% 50%;
  }